.CardEditor-form {
  display: flex;
  flex-direction: column;
  background-color: peachpuff;
  width: 25em;
  height: 40em;
  padding: 1em;
}

.CardEditor-header {
  display: flex;
  justify-content: space-between;
}

.CardEditor-image > input {
  display: none;
}

.CardEditor-image {
  text-align: center;
  margin: 1em;
  border: 1em solid pink;
}

.CardEditor-summary {
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
}

.CardEditor-section > input[type="text"] {
  background: transparent;
  border: none;
  width: 100%;
  font-weight: bold;
}

.CardEditor-section > input[type="text"]::placeholder {
  /* color: black; */
}
