.deck-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 30px;
  font-weight: normal;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.add-card {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
}
