.delete-modal-button-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
}

.delete-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.delete-title{
    font-size: 30px;
    margin-right: 10px;
    font-weight: 500;
}

.delete-borders{
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 10px 0px;
}

.delete-question{
    margin: 30px 0px;
    font-size: 20px;
    /* background-color: #ff000040;
    padding: 30px; */
    border-radius: 10px;
}

.cancel-btn{
    background-color: white;
    margin-right: 20px;
    border: 1px solid #396BBA;
    color: #396BBA;
    border-radius: 5px;
    padding: 5px 15px;
}

.delete-btn{
    background-color: white;
    border: 1px solid #ff0000bb;
    color: #ff0000bb;
    border-radius: 5px;
    padding: 5px 15px;
}

.delete-btn:hover{
    background-color: #ff0000bb;
    color: white;
}

.cancel-btn:hover{
    background-color: #396BBA;
    color: white;
}
