.AccountPromptModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AccountPromptModal__content {
  border-radius: 1.5em;
  width: 50%;
  background-color: #fff;
}

.AccountPromptModal__header,
.AccountPromptModal__footer {
  padding: 1em;
}

.AccountPromptModal__title {
  margin: 0;
}

.AccountPromptModal__body {
  padding: 1em;
}
