.toggles{
    width: 100px;
    border: none;
}

#deckView, #cardView{
    height: 50px;
    width: 150px;
    border: none;
    font-size: 30px;
}

.Active{
    background-color: grey;
    color: white;
}

.inactive{
    background-color: lightgrey;
    color: black;
}

.title {
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .subtitle {
    font-size: 40px;
    font-weight: bold;
  }

  .deck-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }