.HowItWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  max-width: 1000px;
}

.HowItWorks__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em;
}

.HowItWorks__title > h1 {
  padding: 0;
}

.HowItWorks__body {
  margin-bottom: 2em;
}

.HowItWorks_imgs {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2em;
  align-self: center;
}
