.CreateBody {
  max-width: 1000px;
}

.CreateBody__mobile {
  display: flex;
  flex-direction: column;
}

.CreateBody__mobile > .CardEditor {
  align-self: center;
}

.CreateBody__desktop {
  display: flex;
}

.CreateBody__btnContainer {
  display: flex;
  justify-content: center;
  padding: 2em;
}
