.CardEditor__form {
  width: 25em;
  height: 40em;
}

.DisplayCard {
  margin: 16px;
  margin-top: 30px;
}

.slider-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-group{
    padding: 5px 0px;
}
