.TextArea {
  padding: 0.5em 0;
  border-bottom: 1px solid darkgray;
}

.TextArea__Large {
  padding: 0em 0em 1.5em 0;
  border-bottom: 1px solid darkgray;
  width: 100%;
  font-size: 1em !important;
}

.TextArea:focus {
  border-bottom: 1px solid #396bba;
}
