input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1 {
  padding-bottom: 1em;
  font-size: 2em !important;
}

p {
  font-size: 1.2em;
}

h3 {
  padding-bottom: 0.5em;
}

.customContainer {
  padding: 2em 0em 3em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}
